dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Files downloaded through the Haskell WASM meta repo
# https://ghc.gitlab.haskell.org/ghc/doc/users_guide/wasm.html#setting-up-the-ghc-wasm-backend
.ghc-wasm